volumes:
  virtuoso-data:
  qanary-questions:

services:
  virtuoso:
    image: openlink/virtuoso-opensource-7:latest
    ports:
      - "8890:8890"
      - "1111:1111"
    volumes:
      - virtuoso-data:/data  # Mount added here so data persists
    environment:
      - DBA_PASSWORD=${VIRTUOSO_DBA_PASSWORD}

  qanary_pipeline:
    image: qanary/qanary-pipeline:latest
    ports:
      - "8050:8080"
    environment:
      - SERVER_PORT=8080
      - SERVER_HOST=http://qanary-pipeline:8080
      - QANARY_QUESTIONS_DIRECTORY=/qanary-questions
      - VIRTUOSO_URL=jdbc:virtuoso://virtuoso:1111
      - VIRTUOSO_USERNAME=dba
      - VIRTUOSO_PASSWORD=${VIRTUOSO_DBA_PASSWORD}
    depends_on:
      - virtuoso
    volumes:
      - qanary-questions:/qanary-questions
      - 